<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="MajorStepsBound" value="14000"/>
    <add key="TaxPrefix" value="tax:"/>
    <add key="tax:41831,67630" value="48"/> 
    <add key="tax:5279,9010" value="14"/>
    <add key="tax:14001,20000" value="31"/>
    <add key="tax:9011,14000" value="21"/>
    <add key="tax:20001,41830" value="34"/>
    <add key="tax:1,5280" value="10"/>
    <add key="tax:67630,0" value="50"/>
  </appSettings>
</configuration>